<!DOCTYPE html>
<html>
    <body>
        <header>
            <h1><a href="/">Waterbird list</a></h1>
        </header>

        <article>
            
            <h2><a href="">Flamingo</a></h2>
            <p>Flamingos are salt water birds that frequent Florida's saltwater areas.                                                       </p>
        </article>

        <article>
            
            <h2><a href="">Crane</a></h2>
            <p>Cranes are beautiful birds frequenting fresh water swamps.</p>
        </article>
    </body>
</html>