{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Raptor database</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/birdid.css' %}">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                {% if user.is_authenticated %}
                    <a href="{% url 'raptor_new' %}" class="top-menu">
                        {% include './icons/plus-circle.svg' %}
                    </a>
                {% endif %}
                <h1><a href="/raptor/list/">Raptor list</a></h1>
            </div>
        </header>

        <main class="content container">
            <a href="{% url 'mainpage' %}"></a>
            <h5><a href="/">Back to main page</a></h5>
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>

    </body>
</html>