{% extends 'birdid/base.html' %}

{% block content %}
    <article class="waterbird">
        
        <h2>{{ waterbird.name }}</h2>
        <p>{{ waterbird.description|linebreaksbr }}</p>
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'waterbird_edit' pk=waterbird.pk %}">
                    {% include './icons/pencil-square.svg' %}
                </a>
            {% endif %}
        </aside>
    </article>
{% endblock %}