                {% extends 'birdid/base.html' %}
                
                {% block content %}
                    {% for waterbird in waterbirds %}
                        <article class="waterbird">
                            <h2><a href="{% url 'waterbird_detail' pk=waterbird.pk %}">{{ waterbird.name }}</a></h2>
                            <p>{{ waterbird.description|linebreaksbr }}</p>
                            <!--<p>Flamingos are salt water birds that frequent Florida's saltwater areas.   -->                                                    </p>
                        </article>

                    {% endfor %}
                {% endblock %}